# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.envrc/

# =========================
# Database local
# =========================
db/*.db
db/*.db-shm
db/*.db-wal

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Audio Upload Optional
# kalau nanti audio user upload banyak
# =========================
# assets/audio/*.mp3
# assets/audio/*.wav
# assets/audio/*.ogg

# kecuali default audio tetap masuk
!assets/audio/default_bell.wav
