# =========================
# ENV
# =========================
venv/
.env/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# BUILD OUTPUT
# =========================
dist/
build/
*.spec
*.AppImage
*.AppDir

# =========================
# DATABASE (LOCAL ONLY)
# =========================
db/
*.db
*.db-shm
*.db-wal

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# APP CONFIG (LOCAL ONLY)
# =========================
config.json

SchoolBell.AppDir
School_Bell-x86_64.AppImage
appimagetool.AppImage